@import "variables";
@import "header";
@import "about";
@import "skills";
@import "stats";
@import "gallery";
@import "workprocess";
@import "services";
@import "opinion";
@import "brand";
@import "form";
@import "footer";

body {
  margin: 0;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  .wrapper {
    display: grid;
    .btn {
      width: 180px;
      height: 55px;
      background-color: #10c9c3;
      text-decoration: none;
      border: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }
  }
  h1, p {
    margin: 0;
  }
}
